    .Link{
      	border: 2px solid black;
      	font-size: 13px;
      	color: white;
      	background-color: #046bc2;
      	padding: 12px;
      	width: 200px;
      	border-radius: 3px;
      	font-weight: 1000;
      	position: absolute;
      	top: 290px;
      	text-align: center;
      	transition: 0.2s;
      	
      }
      
      .Link:hover{
        background-color: #0677D7;
      }
      
      .s1{
      	left: 1000px;
      	background-color: #2e9700;
      }
      
      .s2{
      	left: 1250px;
      }
      
      
      .s1:hover{
        background-color: #35b000;
      }